# Игнорируем папку с зависимостями Node.js
node_modules/

# Игнорируем системные файлы macOS
.DS_Store

# Игнорируем настройки редактора VS Code
.vscode/

# Игнорируем файлы с записью терминала
demo.cast